@font-face {
    font-family: 'Nougat-ExtraBlack'; 
    src: url('assets/Nougat ExtraBlack.ttf') format('truetype');
  }
* {
    font-family: 'Nougat-ExtraBlack', sans-serif;
}

.back-video{
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.nav-link {
    font-size: 25px; 
}


.back-video {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
    scroll-snap-align: start;
}
section.socialmedia {
    height: 100vh; 
}
.sectionbackground {
background-size:  cover;
background-position: center;
}

.mobile-block{
    justify-content: center;
    padding:30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width:100%;
    height:auto;
    }